@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-style: "Montserrat", sans-serif;
}
body {
  width: 100vw;
}

.workshop {
  width: 100%;
  background-image: url("../img/intro.jpg");
  background-size: cover;
  background-position: top;
  padding: 3%;
}
.workshop h1 {
  text-align: center;
  color: white;
  font-size: 45px;
  margin: 2%;
  margin-bottom: 4%;
  margin-top: 0;
  letter-spacing: 0.8rem;
}
.workshop p {
  color: white;
  margin: 4%;
  font-size: 18px;
  letter-spacing: 0.05rem;
}
.workshop .cards {
  background: rgba(59, 116, 148, 0.3);
    border: 3px solid rgba(133, 133, 133, 0.5);
    border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 4% 0;
  overflow: hidden;
}
.workshop .card {
  box-shadow: 0 4px 8px 0 cyan;
  background-color: rgb(116, 151, 227,0.2);
  /* border: 2px solid cyan; */
  /* border-radius: 40px; */
  /* transition: 0.1s all ease; */
  width:40%;
  height: 250px;
  /* border: 2px solid red; */
  margin: 1.5% 0;
  overflow: hidden;
}

.workshop .card:hover {
  transform: scale(1.1)
}

.workshop .container {
  /* border: 2px solid yellow; */
  padding: 2px 16px;
  text-align: center;
  
  width: 50%;
  overflow: hidden;
  margin: 2%;
  background-color: #011e2a;
}
.workshop .container h4 {
  color: white;
  letter-spacing: 0.2rem;
  font-size: 25px;
  font-weight: bold;
  /* margin-top: 5%; */
}
.workshop .container p {
  text-align: left;
  font-size: 16px;
}
.workshop .container a {
  color: #0077b5;
  font-size: 16px;
  /* padding: 5% 0; */
}


.cont {
  background-color: #1b1919;
  height: 90vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 10px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.image_div {
  height: 90%;
  width: 40%;
}
.image_div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .cont {
    flex-direction: column;
  }
  .image_div {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .content h1 {
    /* font-size: 240px; */
  }
  .workshop {
    /* border: 2px solid red; */
    text-align: center;
    /* margin-top: 10; */
    padding: 4%;
  }
  .workshop h1 {
    padding-top: 20px;
    font-size: 1.5rem;
  }
  .workshop p {
    font-size: 1rem;
  }
  .workshop .cards {
    
    /* background-color: lightgreen; */
    /* flex-direction: column; */
    width: 100%;
    /* border: 2px solid green; */
    justify-content: space-around;
    height: 100vh;
    overflow: scroll;
    /* flex-basis: 500px; */
    /* background-color: black; */
  }
  .workshop .card {
    width: 80%;
    /* height: auto; */
    /* margin: auto; */
    /* border: 2px solid red; */
    /* padding: 0; */
    overflow: hidden;
    margin: 10px auto;
    /* border: 2px solid red; */
  }
  .workshop .card .img {
    width: 100%;
    object-fit: cover;
  }
  .workshop img {
    /* height: 100%; */
  }
  /* .workshop .card .text{
      font-size: 10px;
      height: 46px;
      padding: 0;
    } */
  .workshop .card h4 {
    font-size: 1.4rem;
  }
  .workshop .card p {
    font-size: 1rem;
    text-align: left;
  }
}
