@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  font-style: "Montserrat", sans-serif;
}
body {
  width: 100vw;
  /* z-index: 1; */
}

.flagship {
    width: 100%;
    background-image: url("../img/intro.jpg");
    background-size: cover;
    background-position: top;
    padding: 3%;
}

.flagship h1 {
    text-align: center;
    color: white;
    font-size: 45px;
    margin: 2%;
    margin-bottom: 4%;
    letter-spacing: 0.3rem;
}

.flagship h3 {
    text-align: center;
    color: white;
    font-size: 35px;
    margin: 2%;
    margin-bottom: 4%;
    letter-spacing: 0.1rem;
}

.flagship p {
    color: white;
    margin: 4%;
    font-size: 18px;
    letter-spacing: 0.05rem;
}

.flagship span {
    color: cyan;
}

.flagship .expo{
    border:3px solid white;
    border-radius:50%;
    display:inline-block;
    margin:0 auto;
    height:220px;
    width:220px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.flagship .expo:hover{
    /* transform: scale(1.15); */
    border: 3px solid black;
    box-shadow: 0 4px 8px 0 cyan;
}

.flagship .expo:hover h3{
    transform: scale(1.15);
    transition: 0.2s all ease;
}