@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-style: "Montserrat", sans-serif;
}
body {
  width: 100vw;
}

.about {
    width: 100%;
    background-image: url("../img/intro.jpg");
    background-size: cover;
    background-position: top;
    padding: 3%;
}

.about h1 {
    text-align: center;
    color: white;
    font-size: 45px;
    margin: 2%;
    margin-bottom: 4%;
    letter-spacing: 0.3rem;
}

.about h3 {
    text-align: center;
    color: white;
    font-size: 35px;
    margin: 2%;
    margin-bottom: 4%;
    letter-spacing: 0.1rem;
}

.about p {
    color: white;
    margin: 2%;
    font-size: 18px;
    letter-spacing: 0.05rem;
    
}

.about span {
    color: cyan;
}

@media screen and (max-width: 768px){
    .about p{
        /* margin: 4% 0; */
    }
}