*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  /* width: 100vw;
  position: fixed;
  top: 0; */
  z-index: 999;
  background: rgb(0, 33, 65,0.6);
}

.nav li {
  list-style: none;
  cursor: pointer;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav ul {
  /* padding-right: 4%; */
}

.nav__brand {
  text-transform: uppercase;
}

.nav__link {
  margin: 0 10px;
}

.nav__link:hover {
  filter: brightness(50%);
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 3rem; */
}

.nav__toggler {
  display: none;
  /* opacity: 0.6; */
}

.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  /* background: black(204, 204, 204); */
  background-color: white;
  transition: 0.3s ease-in;
  /* opacity: 0.6; */
}
@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
    /* opacity: 0.6; */
  }

  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: rgb(0, 33, 65,0.6);
    flex-direction: column;
    transform: translateX(150%);
    transition: 0.5s ease-in;
  }
  .nav ul {
    /* display: flex; */
    /* text-align: center; */
    /* justify-content: space-around; */
    padding: 80px 0;
  }
}

/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

.te {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: flex-start;
  margin-left: 0;
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
}
